<%= form_with(model: tr_rfq, local: true) do |form| %>
  <% if tr_rfq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tr_rfq.errors.count, "error") %> prohibited this tr_rfq from being saved:</h2>

      <ul>
      <% tr_rfq.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <div class='col-sm-3 control-label'>
      <%= form.label :ms_vendor_type_id %>
    </div>
    <div class='col-sm-9'>
      <%= form.select :ms_vendor_type_id, @ms_vendor_types %>
    </div>
  </div>

  <div class='form-group'>
    <div class='col-sm-3 control-label'>
      <%= form.label :no_rfq %>
    </div>
    <div class='col-sm-9'>
      <%= form.text_field :no_rfq %>
    </div>
  </div>

  <div class='form-group'>
    <div class='col-sm-3 control-label'>
      <%= form.label :description %>
    </div>
    <div class='col-sm-9'>
      <%= form.text_area :description %>
    </div>
  </div>

  <div class='form-group'>
    <div class='col-sm-3 control-label'>
      <%= form.label :need_by_date %>
    </div>
    <div class='col-sm-9'>
      <%= form.date_select :need_by_date %>
    </div>
  </div>

  <div class='form-group'>
    <div class='col-sm-3 control-label'>
      <%= form.label :expiration_date %>
    </div>
    <div class='col-sm-9'>
      <%= form.date_select :expiration_date %>
    </div>
  </div>

  <div class='form-group'>
    <div class='col-sm-3 control-label'>
      <%= form.label :term_of_payment %>
    </div>
    <div class='col-sm-9'>
      <%= form.select :term_of_payment , [30,60] %>
    </div>
  </div>  

  <div class='form-group'>
    <div class='col-sm-3 control-label'>
      <%= form.label :qty %>
    </div>
    <div class='col-sm-9'>
      <%= form.text_field :qty %>
    </div>
  </div> 

  <div class='form-group'>
    <div class='col-sm-3 control-label'>
      <%= form.label :uom %>
    </div>
    <div class='col-sm-9'>
      <%= form.select :uom , ['pcs','pack','kg','m'] %>
    </div>
  </div> 
  
  <div class='form-group'>
    <div class='col-sm-3 control-label'>
      <%= form.label :note , "Note From Buyer" %>
    </div>
    <div class='col-sm-9'>
      <%= form.text_area :note %>
    </div>
  </div> 

  <div class='form-group'>
    <div class='col-sm-3 control-label'>
      <%= form.label :item_name %>
    </div>
    <div class='col-sm-9'>
      <%= form.text_field :item_name %>
    </div>
  </div> 

  <div class='form-group'>
    <div class='col-sm-3 control-label'>
      <%= form.label :delivery_site %>
    </div>
    <div class='col-sm-9'>
      <%= form.text_field :delivery_site %>
    </div>
  </div> 

  <div class='form-group'>
    <div class='col-sm-3 control-label'>
      <%= form.label :status %>
    </div>
    <div class='col-sm-9'>
      <%= form.text_field :status %>
    </div>
  </div> 

  <div class='action'>
    <%= link_to 'Cancel', tr_rfqs_path, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }  %>
    <%= form.submit 'Submit', class: 'btn btn-warning', data: { confirm: 'Are you sure?' }  %>
  </div>
<% end %>
