<p id="notice"><%= notice %></p>

<h1>Tr Rfqs</h1>

<table>
  <thead>
    <tr>
      <th>Ms vendor type</th>
      <th>Item name</th>
      <th>Delivery site</th>
      <th>Note</th>
      <th>Description</th>
      <th>Need by date</th>
      <th>Term of payment</th>
      <th>Is active</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tr_rfqs.each do |tr_rfq| %>
      <tr>
        <td><%= tr_rfq.ms_vendor_type_id %></td>
        <td><%= tr_rfq.item_name %></td>
        <td><%= tr_rfq.delivery_site %></td>
        <td><%= tr_rfq.note %></td>
        <td><%= tr_rfq.description %></td>
        <td><%= tr_rfq.need_by_date %></td>
        <td><%= tr_rfq.term_of_payment %></td>
        <td><%= tr_rfq.is_active %></td>
        <td><%= tr_rfq.created_by %></td>
        <td><%= tr_rfq.updated_by %></td>
        <td><%= tr_rfq.status %></td>
        <td><%= link_to 'Show', tr_rfq %></td>
        <td><%= link_to 'Edit', edit_tr_rfq_path(tr_rfq) %></td>
        <td><%= link_to 'Destroy', tr_rfq, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tr Rfq', new_tr_rfq_path %>
