<div class='row'>
  <div class='form-group' style="margin: 25px auto; width: 90%">
    <%= form_tag vendors_path, method: :get do %>
      <div class='col-sm-12 title'>
        <div class='col-sm-5'>
          <h4><b>VENDOR LISTS</b></h4>
        </div>
        <div class='col-sm-3' style="text-align: right;">
          <%= select_tag :ms_vendor_type_id, options_for_select(@ms_vendor_types, params[:ms_vendor_type_id]), prompt: 'Vendor Type', class: 'form-control' %>
        </div>
        <div class='col-sm-3' style="text-align: right;">
          <%= select_tag :office_location, options_for_select(['Indonesia', 'Overseas'], params[:office_location]), prompt: 'Location', class: 'form-control' %>
        </div>
        <div class='col-sm-1'>
          <%= submit_tag 'FILTER', class: 'btn btn-info' %>
        </div>
      </div>
    <% end %>
  </div>
  <table>
    <thead>
      <tr>
        <th>NO.</th>
        <th>COMPANY NAME</th>
        <th>SALES PHONE</th>
        <th>CITY</th>
        <th>TYPE</th>
        <th>STATUS</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'index', vendors: @vendors %>
    </tbody>
  </table>
</div>