<%= f.hidden_field :step, value: 'password' %>
<h4><b>Change Password</b></h4><br>

<div class='form-group'>
  <div class='col-sm-3 control-label'>
    <%= f.label :current_password , 'Current Password' %>
  </div>
  <div class='col-sm-9'>
    <%= f.password_field :current_password , class: 'form-control' %>
  </div>
</div>
<div class='form-group'>
  <div class='col-sm-3 control-label'>
    <%= f.label :password, 'New Password' %>
  </div>
  <div class='col-sm-9'>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
</div>
<div class='form-group'>
  <div class='col-sm-3 control-label'>
    <%= f.label :password_confirmation, 'New Password (again)' %>
  </div>  
  <div class='col-sm-9'>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
</div>