<div class='form-panel-third'>
  <div class='row'>
    <h2>Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'form-horizontal', method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>
      <div class='form-group'>
        <div class='col-sm-3 control-label'>
          <%= f.label :password, "New password" %>
        </div>
        <div class='col-sm-9'>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
        </div>
      </div>

      <div class='form-group'>
        <div class='col-sm-3 control-label'>
          <%= f.label :password_confirmation, "Confirm new password" %>
        </div>
        <div class='col-sm-9'>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
      </div>

      <div class='form-group'>
        <div class='col-sm-3 control-label'>
        </div>
        <div class='col-sm-9'>
          <%= f.submit "Change my password", class: 'btn btn-warning', data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%#= render "devise/shared/links" %>
